.modalContent {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 30%;
    height: 30%;
    background-color: rgb(88, 22, 22);
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.error {
    color: red;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.inputField {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textareaField {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.button {
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    background-color: #FFFF00;
    color: white;
    border: none;
    cursor: pointer;
}