.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
    background-color: rgb(88, 22, 22);
}

.img{
    width: 3rem;
    height: 3rem; 
    margin: 0.5px 2rem;
}


.a:hover{
    
}

.ul{
    display: flex;
    margin: auto;
    background-color:  rgb(88, 22, 22);;
    justify-content: center;
    align-items: center;
}

.li{
    background-color: #ccc;
    padding: 10px;
    margin: auto;
    background-color:  rgb(88, 22, 22);;
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: all 0.4s;
}

.li:hover{
    color: bisque;
}

.div{
    align-self: flex-end;
    display: inline;
    height: 100%;
    right: 0;
}
